<div class="login form-centered">
  <h1>Reset password</h1>

  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <div class="field">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>
    </div>
    <div class="actions"><%= submit_tag "Reset & Log in", :class => "btn-primary" %></div>
  <% end %>

  <hr/>

  <a href="/login">Remembered your password?</a>
</div>
