<div class="features">
  <h1>Features</h1>
  <div class="row">
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-shield"></div>
      </div>
      <h2>Secure &amp; Open</h2>
      <p>Topics have private URLs<br>and can only be viewed<br>by people who know<br>the link.</p>
    </div>
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-heart"></div>
      </div>
      <h2>Free &amp; Unlimited</h2>
      <p>Conduct.io is free for personal<br>and business use. Why?<br>Because we love<br>you internet!</p>
    </div>
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-graph"></div>
      </div>
      <h2>Simple Data</h2>
      <p>Get basic data quickly and<br>easily. It’s no google anyltics<br>but does the job.</p>
    </div>
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-phone"></div>
      </div>
      <h2>Mobile Ready</h2>
      <p>Yep... we did that mobile<br>responsive thing, we’re<br>very proud of<br>ourselves.</p>
    </div>
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-layers"></div>
      </div>
      <h2>Developer Ready</h2>
      <p>We’ve got an awesome<br>RESTful API. Get<br>developing your<br>own apps!</p>
    </div>
    <div class="span4">
      <div class="icon-container">
        <div class="icon icon-apple"></div>
      </div>
      <h2>Nothing More</h2>
      <p>No... thats a feature!<br>We promise to keep<br>conduct.io simple<br>forever.</p>
    </div>
  </div>
</div>
