## Typography
=============

## Typography
-------------

# I am a H1

## I am a H2

### I am a H3

#### I am a H4

##### I am a H5

###### I am a H6

------

## Blockquote

### Regular

> I am a blockquote

### Multi-line

> And I also work when
> I am spread over a
> few lines.

------

## Code

Code works with the `code` tag


``` html
<p>Test</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
````

~~~ruby
puts "Hello, world!"
~~~

    puts "I am indented therefor I must be code... but I should be plaintext"

------

## Lists

1. Alpha
2. Bravo
  1. Beta
3. Charlie

- I am a list
  - I have sub-items
    - That go two levels deep
      - Or More
  - Another sub item
- List item 2
- List item 3
* Asterisk are ok too

------

