<div class="container">
  <h1 class="page-header">API</h1>
  <div class="row">
    <div class="span4">
      <div class="menu js-sticky-item">
        <%= markdown(render partial: "static/api/index")%>
      </div>
    </div>
    <div class="span8">
      <%= markdown(render partial: "static/api/topics")%>
      <%= markdown(render partial: "static/api/suggestions")%>
    </div>
  </div>
</div>
