<footer class="main">
  <p>Made with love in Bristol by <a href="http://twitter.com/adambu1988">Adam Butler</a> with a little help from some friends</h4>
  <p><small>&copy; <%= Time.now.year %> Adam Butler</small></small<>
</footer>
